@media only screen and (max-width: 1440px) {
    .inicial{
        display: flex;
        justify-content: center;
        .homem {
            border: red 1px solid;
            width: 595px;
            height: auto;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

}
@media only screen and (max-width: 1300px) {
    .inicial {
        .bmj {
            .titulo {
                h1 {
                    font-size: 35px;
                }
            }
            .credito {
                h1 {
                    font-size: 35px;
                }
            }
            .contrate {
                h1,
                h2,
                h3 {
                    font-size: 30px;
                }
            }
        }
        .menu {
            .menu-ativo {
                position: absolute;
                top: 75px;
                right: 100px;
                width: 300px;
                height: 450px;
                .titulo-2 {
                    h1 {
                        padding-top: 30px;
                    }
                }
                .menu-links {
                    a {
                        font-size: 15px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
    footer {
        height: 88px;
    }
}
@media only screen and (max-width: 1024px) {
    .inicial {
        .bmj {
            .titulo {
                h1 {
                    font-size: 35px;
                }
            }
            .credito {
                h1 {
                    font-size: 35px;
                }
            }
            .contrate {
                h1,
                h2,
                h3 {
                    font-size: 25px;
                }
            }
        }
        .menu {
            .menu-ativo {
                position: absolute;
                bottom: 45px;
                right: 54px;
            }
        }
    }
    footer {
        height: 88px;
    }
}
@media only screen and (max-width: 768px) {
    .inicial {
        .bmj {
            .credito {
                h1 {
                    line-height: 35px;
                    font-size: 30px;
                }
                .sonho {
                    height: 25px;
                }
            }
            .contrate {
                h1,
                h2,
                h3 {
                    font-size: 20px;
                }
            }
        }
        .menu {
            .menu-ativo {
                position: absolute;
                bottom: 24px;
                right: 54px;
                width: 300px;
                height: 400px;
                .titulo-2 {
                    h1 {
                        font-size: 25px;
                        padding-top: 40px;
                    }
                }
                .menu-links {
                    a {
                        font-size: 15px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    footer {
        height: 81px;
    }
}
@media only screen and (max-width: 425px) {
    body {
        background-image: none;
        background-color: #ff9a00;
    }
    .inicial {
        .bmj {
            margin: 0 auto;
        }
        .menu {
            .menu-ativo {
                right: 22px;
            }
        }
    }
    .container {
        height: 87.6vh;
    }
    footer {
        bottom: -22px;
    }
}
@media only screen and (max-width: 375px) {
    footer {
        bottom: -22px;
    }
}
@media only screen and (max-width: 320px) {
    .inicial {
        .menu {
            .menu-ativo {
                bottom: 28px;
                right: 10px;
            }
        }
    }
    footer {
        height: 60px;
        bottom: -91px;
    }
}
