@media only screen and (max-width: 1440px) {
    .inicial {
        .homem {
            width: 595px;
            height: auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .balao {
            position: absolute;
            left: 597px;
            width: 800px;
        }
    }
}
@media only screen and (max-width: 1300px) {
    .inicial-1 {
        .bmj {
            .titulo {
                h1 {
                    margin-left: -18px;
                }
            }
        }
        .menu {
            .menu-ativo {
                right: 116px;
                bottom: 23px;
                .titulo-2 {
                    h1 {
                        padding-top: 30px;
                    }
                }
                .menu-links {
                    a {
                        font-size: 15px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
    .inicial {
        .credito {
            h1 {
                font-size: 35px;
            }
        }
        .contrate {
            h1,
            h2,
            h3 {
                font-size: 30px;
            }

            .homem {
                width: 595px;
                height: auto;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .balao {
                position: absolute;
                left: 460px;
                width: 800px;
            }
        }

        footer {
            height: 88px;
        }
    }
}
@media only screen and (max-width: 1280px) {
    .inicial  {
        .balao{
            left: 446px;
            width: 800px;
        }

    }
    .inicial-1 {
        .bmj {
            .titulo {
                h1 {
                    margin-left: -18px;
                }
            }
        }
        .menu {
            .menu-ativo {
                right: 116px;
                bottom: 23px;
                .titulo-2 {
                    h1 {
                        padding-top: 30px;
                    }
                }
                .menu-links {
                    a {
                        font-size: 15px;
                        line-height: 35px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .inicial-1 {
        margin-left: 45px;
        .menu {
            .menu-ativo {
                bottom: 80px;
                right: 67px;
                width: 388px;
                height: 499px;
            }
        }
        .bmj {
            .titulo {
                h1 {
                    font-size: 35px;
                }
            }
        }
    }

    .inicial {
        .bmj {
            .credito {
                h1 {
                    font-size: 35px;
                }
            }
            .contrate {
                h1,
                h2,
                h3 {
                    font-size: 25px;
                }
            }
        }

        .homem {
            width: 495px;
            height: auto;
            position: relative;
            top: 30px;
            right: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .balao {
            position: absolute;
            left: 300px;
            width: 700px;
            top: 100px;
        }
    }
    footer {
        height: 88px;
    }
}
@media only screen and (max-width: 768px) {
    .inicial-1 {
        margin-left: 10px;
        .menu {
            .menu-ativo {
                bottom: -19px;
                right: 59px;
                width: 285px;
                height: 438px;
                .menu-links {
                    a {
                        font-size: 13px;
                        line-height: 33px;
                    }
                }
            }
        }
    }
    .inicial {
        .bmj {
            .credito {
                h1 {
                    line-height: 35px;
                    font-size: 30px;
                }
                .sonho {
                    height: 25px;
                }
            }
            .contrate {
                h1,
                h2,
                h3 {
                    font-size: 20px;
                }
            }
        }
        .menu {
            .menu-ativo {
                position: absolute;
                bottom: 24px;
                right: 54px;
                width: 300px;
                height: 400px;
                .titulo-2 {
                    h1 {
                        font-size: 25px;
                        padding-top: 40px;
                    }
                }
                .menu-links {
                    a {
                        font-size: 15px;
                        line-height: 30px;
                    }
                }
            }
        }
        .homem {
            width: 395px;
            height: auto;
            position: relative;
            top: 60px;
            right: 40px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .balao {
            position: absolute;
            left: 230px;
            width: 500px;
            height: auto;
            top: 130px;
        }
    }
    footer {
        height: 81px;
    }
}
@media only screen and (max-width: 425px) {
    body {
        background-color: #ff9a00;
        background-size: cover;
    }
    .inicial-1 {
        .menu {
            .menu-ativo {
                bottom: -19px;
                right: 39px;
                width: 285px;
                height: 438px;
                .menu-links {
                    a {
                        font-size: 13px;
                        line-height: 33px;
                    }
                }
            }
        }
    }
    .inicial {
        .bmj {
            margin: 0 auto;
            text-align: center;
            .next-page {
                text-align: center;
            }
        }
        .menu {
            .menu-ativo {
                right: 22px;
            }
        }
        .homem {
            display: none;
        }
        .balao {
            display: none;
        }
    }
    footer {
        bottom: -22px;
    }
}
@media only screen and (max-width: 375px) {
    footer {
        bottom: -22px;
    }
}
@media only screen and (max-width: 320px) {
    .inicial-1 {
        .bmj {
            .titulo {
                h1 {
                    font-size: 28px;
                }
            }
        }
        .menu {
            .menu-ativo {
                bottom: -19px;
                right: 18px;
                width: 285px;
                height: 438px;
                .menu-links {
                    a {
                        font-size: 13px;
                        line-height: 33px;
                    }
                }
            }
            .icone .btn-hamb {
                border: none;
                margin-right: -14px;
            }
        }
    }
    .inicial {
        .menu {
            .menu-ativo {
                bottom: 28px;
                right: 10px;
            }
        }
    }
    footer {
        height: 60px;
        bottom: -91px;
    }
}
